body {
    font: 25px "Century Gothic", Futura, sans-serif;
    font-weight: bold;

}
.elements {
    font: 20px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}


.board-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 30px;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    object-fit: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);   
}

.square {
    float: left;
    font-size: 60px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    background-color: #e9e0f3;
    border: 2px solid white;
}

.header{
    text-align:center;
    font-size:28px;
    text-shadow: 2px 2px 4px #bbb;
    margin-top: 100px;
}
.header2{
    text-align:center;
    font-size:30px;
    text-shadow: 2px 2px 4px #bbb;
    margin-bottom: 10px;
    margin-top: 20px;
}

.button {
    justify-content: center;
    top:50%;
    background-color: #e9e0f3;
    color: #0c0c0c;
    height: 40px;
    width: 150px;
    font: 20px "Century Gothic", Futura, sans-serif;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(245, 245, 245);
    margin-top: 20px;
    margin-bottom: 20px;

}