*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
img {
   width: 450px;
   height: 300px;
   margin-bottom: 250px;
   float:left;
   
}

  .board {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 30px;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    object-position: 50% 50%;
    object-fit: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);   
  }
 
p {
  font-size: 18px;
  float: right;
  width: 30%;
  margin-right: 40px;

}
span {
  display: 'flex';
  align-items: 'center';
  flex-wrap: 'wrap';
}
h5 {
  font-size: 32px;
  margin-bottom: 20px;
}
.text {
 max-width: 990px;
}

