* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

.card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #fff;
    font-size: 100px;
}
  
.card__header {
    text-align:center;
    font-size:28px;
    flex-direction: row;
    max-width: 200px;
    height: 100px;
    text-shadow: 2px 2px 4px #bbb;
    margin-top: 100px;
}

.card__image {
    height: 200px;
    width: 200px;
    border-radius: 10px 10px 0 0;
    object-fit: cover; 
}
.card__info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 100%;
    width: 80%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
}
